<%
  label_options = [[I18n.t('date_calculator.all_labels'), '']]
      .concat(JSONModel.enum_values('date_label').map{|label|
        [I18n.t("enumerations.date_label.#{label}", :default => label), label]
      })
%>

<div id="template_date_calculator_form_<%= record.jsonmodel_type %>_<%= record.id %>"></div>
<div id="template_dates_calculator_error_message"></div>
